.Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.InputElement {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 4px;
  font-size: 15px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}

.Invalid {
  border: 1px solid red;
  background-color: #ff6a5f4d;
}

.Input label {
  color: #366;
}
